<form>
    <div class="st-input-field">
        <i class="w-field-icon bi bi-key"></i>
        <input type="tel" #code placeholder="{{ 'Code' | translate }}" maxlength="4" minlength="4" class="form-control" />
    </div>
    <div class="st-input-field">
        <i class="w-field-icon bi bi-lock"></i>
        <input type="password" #pass placeholder="{{ 'Password' | translate }}" class="form-control" />
        <i id="eye" class="bi bi-eye-slash" (click)="
pass.type == 'text'
? (pass.type = 'password')
: (pass.type = 'text')
" [ngClass]="{
'fa-eye': pass.type == 'text',
'fa-eye-slash': pass.type == 'password'
}"></i>
    </div>
    <div class="st-input-field">
        <i class="w-field-icon bi bi-lock"></i>
        <input type="password" #pass2 placeholder="{{ 'ConfirmPassword' | translate }}" class="form-control" />
        <i id="eye" class="bi bi-eye-slash" (click)="
pass2.type == 'text'
? (pass2.type = 'password')
: (pass2.type = 'text')
" [ngClass]="{
'fa-eye': pass2.type == 'text',
'fa-eye-slash': pass2.type == 'password'
}"></i>
    </div>

    <button class="auth-btn">{{'Save new password' | translate}}</button>
</form>