<div class="modal-content quick-view-modal">
    <div class="modal-header  w-100  d-flex align-items-center justify-content-between">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link" (click)="type='login'" [class.active]="type=='login'"><i class="bi bi-box-arrow-in-right"></i> {{'Sign in' | translate}}</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="type='register'" [class.active]="type=='register'"><i class="bi bi-person"></i> {{'Sign up' | translate}}</button>
            </li>
        </ul>
        <i class="bi bi-x-lg clickable" (click)="activeModal.close()"></i>
    </div>
    <div class="modal-body">
        <div class="tab-content" id="myTabContent">
            <div class="fade" [ngClass]="{'show':type=='login','tab-pane':type!='login'}">
                <app-login></app-login>
            </div>
            <div class="fade" [ngClass]="{'show':type=='register','tab-pane':type!='register'}">
                <app-register></app-register>
            </div>
            <div class="fade" [ngClass]="{'show':type=='forget-password','tab-pane':type!='forget-password'}">
                <app-forget-password></app-forget-password>
            </div>
        </div>
    </div>
</div>