.bi-chevron-down {
  transition: all 0.2s ease-in-out;
}
details[open] .bi-chevron-down {
  transform: rotateZ(180deg);
}
details,
summary {
  user-select: none;
}
summary {
  span {
    font-weight: 500;
  }
}

details[open] summary ~ * {
  animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
